html{ scroll-behavior: smooth }
body{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.1rem;
}
li{ list-style-type: none; }

/******** Navbar Section *********/

.navbar{
    border-bottom:0.2rem solid #000;
    background-color:#fff
}
.nav-link:hover{
    border-bottom:1px solid #000;
    margin-bottom:-1px
}
.avatar-img{ width:3rem; }
.link-blog{
    border:1px solid #ff0000;
    color:#000
}
.link-blog:hover{   
    background:#ff0000;
    color:#fff;
    border-bottom:none;
    margin-bottom:1px
}

/******** Header Section *********/

.header-section{ padding:8rem }
.subheader{
    font-size:1.5rem;
    border:0.3rem solid #000;
}

/******** About Me Section *********/

#about{ background-color:#90EE90;}
.profile-picture{ width:9.5rem; }
.container-about{ 
    width:50%;
    line-height:1.6 
}
.page-section-description{ line-height:1.8 }

/******** Portfolio Section *********/

.img-fluid{
    width:330px;
    height:200px;
}
.btn{ background: #25557C }

/******** Skills Section *********/

.skills-container{
    width:70%;
    margin:0 auto
}

/******** Footer Section *********/

#backToTheTop{
    font-size:2.5rem;
    display: none;
    position:fixed;
    bottom:0.6rem;
    right:1rem;
    z-index:99;
}
#portfolio,
#about,
#skills{ padding-top:4.5rem } 

/******** Style Fontawesome Icons *********/

.fa-envelope{ color:#ff0000 }
.fa-linkedin{ color:#0000ff }
.fa-html5{ color:#e54c21 }
.fa-css3-alt{ color:#264de4 }
.fa-js{ color:#f0db4f }
.fa-react{ color:#00d8ff }
.fa-vuejs{ color: #41B883 }
.fa-node-js{ color:#69A65A }
.fa-bootstrap{ color:#553a7d }
.fa-check-square{ color:#008000 }
.fa-github{ color:#313030 }
.fa-angellist{ color: #000 }
.fa-bars{
    color:#000;
    height:5px 
}
.fa-code{
    position:absolute;
    top:40%;
    right:12.5rem;
    color:#264de4;
}
.fa-laptop-code{
    position: absolute;
    top:40%;
    left:12.5rem;
    color:#264de4
}

/******** Media Queries *********/

@media (max-width:790px){
    .container-about{ width:100% }
    .skills-container{ width: 100% }
    .nav-item-blog{ 
        border:none; 
        padding:0.5rem 0
    }
    .nav-item-blog:hover{
        background:none;
        color:#000
    }
}
@media (max-width:991px){
    .navbar{ 
        border-bottom:none;
        background-color:transparent 
    }
    .nav-link:hover{ border-bottom:none}  
    .nav-item a{ font-weight:bold }
    .header-section h1{ margin-top:1.3rem } 
}

